graft ChatWizard

include LICENSE
include README.md
include CONTRIBUTING.md

include .bumpversion.cfg
include pyproject.toml
include Makefile
include .coveragerc
include test_path

include *.png
include *.md
include .bumpversion.cfg
include Makefile
recursive-include scripts *.json
recursive-include scripts *.py
recursive-include scripts *.txt
recursive-include scripts *.xml
recursive-include docs *.png
recursive-include docs *.rst

prune .github
exclude .gitignore
exclude .gitattributes

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude .DS_Store
